<footer>
  <div class="container">
    <div fxLayoutAlign.gt-xs="end" fxLayoutAlign.xs="center" class="newsletter-social">
      <!-- <form fxLayoutGap="24px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
          <input
            matInput
            placeholder="Enter your email"
            required
            email
            ngModel name="email">
        </mat-form-field>
        <button
          class="submit"
          mat-raised-button color="accent"
          type="submit">Newsletter</button>
      </form> -->
      <ul fxLayout fxLayoutGap="24px" fxLayoutAlign="center" class="navigation-items">
        <li fxLayout="column" fxLayoutAlign="center">
          <a href="https://www.instagram.com/fefy" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li fxLayout="column" fxLayoutAlign="center">
          <a href="https://www.youtube.com/channel/UCYL-eXRiilWSTejV_eTb2zQ/" target="_blank"><i class="fab fa-youtube"></i></a>
        </li>
        <li fxLayout="column" fxLayoutAlign="center">
          <a href="https://github.com/fefyben" target="_blank"><i class="fab fa-github"></i></a>
        </li>
      </ul>
      <div class="footer-text">
        <p>Fernanda Benites &copy; 2019</p>
      </div>
    </div>
  </div>
</footer>

